<%= form_with(model: review_post, local: true) do |form| %>
  <% if review_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review_post.errors.count, "error") %> prohibited this review_post from being saved:</h2>

      <ul>
      <% review_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :review_post_title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :review_post_content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :review_post_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
