<% provide(:title, "Show Posts") %>

<p id="notice"><%= notice %></p>

<h4>
  <strong>Title:</strong>
  <%= @review_post.title %>
</h4>

<p class = "text-justify">
  <strong>Content:</strong>
  <%= @review_post.content %>
</p>

<p class = "text-justify">>
  <strong>User:</strong>
  <%= @review_post.user_id %>
</p>

<%= link_to 'Edit', edit_review_post_path(@review_post) %> |
<%= link_to 'Back', review_posts_path %>
